* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-subtitle {
    font: var(--subtitle);
    color: var(--gray200);
}

.text-span-red {
    font: var(--subtitle);
    color: var(--red);
}

.text-span-purple {
    font: var(--subtitle);
    color: var(--purple);
}

.text-h1 {
    font: var(--h1);
    color: var(--gray100);
}

.text-h2 {
    font: var(--h2);
    color: var(--gray100);
}

.text-h3 {
    
    font: var(--h3);
    color: var(--gray100);
}

.flex-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.text-sm {
    font: var(--text-sm);
    color: var(--gray300);
}

.box-services {
    border:solid 3px var(--gray500);
    border-radius: 12px;
    padding: 20px;
}

.projects-border {
    border: solid 2px transparent;
    border-radius: 14px;
}

.projects-border:hover {
    border: solid 2px var(--gray300);
    border-radius: 14px;
    transition: 0.4s ease;
}

.social-border {
    border: solid 2px transparent;
    border-radius: 12px;
}

.social-border:hover {
    border: solid 2px var(--gray300);
    border-radius: 12px;
    transition: 0.4s ease;
}

